.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.863281;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.059570;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:1.092975px;}
.fc2{color:rgb(68,114,196);}
.fc1{color:rgb(110,116,122);}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:72.000000px;}
.fs2{font-size:144.000000px;}
.fs1{font-size:160.000000px;}
.y0{bottom:0.000000px;}
.y27{bottom:7.628922px;}
.y1c{bottom:15.178055px;}
.y2b{bottom:18.128922px;}
.y2f{bottom:28.384745px;}
.y26{bottom:29.228922px;}
.y24{bottom:30.945236px;}
.y2e{bottom:34.384745px;}
.y1b{bottom:36.778055px;}
.y2a{bottom:39.728922px;}
.y25{bottom:39.893961px;}
.y12{bottom:45.109720px;}
.y14{bottom:45.364756px;}
.y18{bottom:47.613504px;}
.y15{bottom:48.465769px;}
.y4{bottom:49.059793px;}
.y13{bottom:49.715860px;}
.y23{bottom:52.545237px;}
.y1{bottom:60.136576px;}
.y20{bottom:89.329477px;}
.yb{bottom:132.984764px;}
.ya{bottom:154.584763px;}
.y9{bottom:176.184763px;}
.ye{bottom:413.230816px;}
.yf{bottom:414.694401px;}
.y7{bottom:447.199825px;}
.y8{bottom:448.663410px;}
.yc{bottom:456.430817px;}
.yd{bottom:457.894402px;}
.y3{bottom:459.524929px;}
.y1d{bottom:470.621609px;}
.y1f{bottom:470.812401px;}
.y1e{bottom:472.085194px;}
.y21{bottom:482.145308px;}
.y22{bottom:483.608892px;}
.y16{bottom:485.741919px;}
.y17{bottom:487.205503px;}
.y2{bottom:487.394455px;}
.y19{bottom:489.406961px;}
.y28{bottom:489.645308px;}
.y10{bottom:490.580427px;}
.y5{bottom:490.580429px;}
.y2c{bottom:490.644125px;}
.y1a{bottom:490.870546px;}
.y29{bottom:491.108892px;}
.y11{bottom:492.044012px;}
.y6{bottom:492.044014px;}
.y2d{bottom:492.107710px;}
.h4{height:52.453125px;}
.h1{height:55.406250px;}
.h3{height:104.906250px;}
.h5{height:110.812500px;}
.h2{height:129.765625px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.xb{left:54.048340px;}
.xf{left:100.223053px;}
.xe{left:101.686638px;}
.x2{left:110.700043px;}
.xd{left:128.181061px;}
.xc{left:129.644646px;}
.x20{left:153.699524px;}
.x1a{left:173.040161px;}
.x19{left:174.503747px;}
.x1d{left:180.186249px;}
.x1{left:181.480560px;}
.x6{left:184.078430px;}
.x5{left:185.542017px;}
.x33{left:200.538055px;}
.x3a{left:202.598755px;}
.x39{left:204.062341px;}
.x23{left:206.409363px;}
.x1c{left:208.819061px;}
.x1b{left:210.282648px;}
.x26{left:211.657745px;}
.x2d{left:212.700012px;}
.x11{left:228.312103px;}
.x10{left:229.775690px;}
.x36{left:235.962494px;}
.x35{left:237.426081px;}
.x25{left:254.236588px;}
.x24{left:255.700174px;}
.x3{left:262.962311px;}
.x3b{left:265.083557px;}
.x1f{left:267.819656px;}
.x1e{left:269.283243px;}
.x30{left:270.866943px;}
.x4{left:284.603088px;}
.x34{left:288.030457px;}
.x8{left:292.131149px;}
.x7{left:293.594734px;}
.x38{left:295.991531px;}
.x37{left:297.455118px;}
.x18{left:307.055603px;}
.x3c{left:309.326669px;}
.x2f{left:338.996185px;}
.x2e{left:340.459772px;}
.x32{left:353.050026px;}
.x31{left:354.513612px;}
.x17{left:358.125854px;}
.x16{left:359.589441px;}
.x22{left:375.511841px;}
.x21{left:376.975427px;}
.x28{left:393.231308px;}
.x27{left:394.694894px;}
.x13{left:412.390213px;}
.x12{left:413.853806px;}
.x15{left:433.413651px;}
.x14{left:434.877243px;}
.x2a{left:445.244972px;}
.x29{left:446.517765px;}
.x2c{left:463.244972px;}
.x2b{left:464.708557px;}
.xa{left:499.183868px;}
.x9{left:500.647461px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:1.457299pt;}
.fs0{font-size:96.000000pt;}
.fs2{font-size:192.000000pt;}
.fs1{font-size:213.333333pt;}
.y0{bottom:0.000000pt;}
.y27{bottom:10.171895pt;}
.y1c{bottom:20.237406pt;}
.y2b{bottom:24.171895pt;}
.y2f{bottom:37.846326pt;}
.y26{bottom:38.971896pt;}
.y24{bottom:41.260315pt;}
.y2e{bottom:45.846326pt;}
.y1b{bottom:49.037407pt;}
.y2a{bottom:52.971896pt;}
.y25{bottom:53.191948pt;}
.y12{bottom:60.146294pt;}
.y14{bottom:60.486341pt;}
.y18{bottom:63.484673pt;}
.y15{bottom:64.621025pt;}
.y4{bottom:65.413058pt;}
.y13{bottom:66.287814pt;}
.y23{bottom:70.060315pt;}
.y1{bottom:80.182101pt;}
.y20{bottom:119.105970pt;}
.yb{bottom:177.313019pt;}
.ya{bottom:206.113017pt;}
.y9{bottom:234.913017pt;}
.ye{bottom:550.974421pt;}
.yf{bottom:552.925868pt;}
.y7{bottom:596.266434pt;}
.y8{bottom:598.217880pt;}
.yc{bottom:608.574422pt;}
.yd{bottom:610.525869pt;}
.y3{bottom:612.699905pt;}
.y1d{bottom:627.495478pt;}
.y1f{bottom:627.749868pt;}
.y1e{bottom:629.446925pt;}
.y21{bottom:642.860410pt;}
.y22{bottom:644.811857pt;}
.y16{bottom:647.655891pt;}
.y17{bottom:649.607338pt;}
.y2{bottom:649.859273pt;}
.y19{bottom:652.542615pt;}
.y28{bottom:652.860410pt;}
.y10{bottom:654.107236pt;}
.y5{bottom:654.107239pt;}
.y2c{bottom:654.192167pt;}
.y1a{bottom:654.494062pt;}
.y29{bottom:654.811857pt;}
.y11{bottom:656.058683pt;}
.y6{bottom:656.058685pt;}
.y2d{bottom:656.143613pt;}
.h4{height:69.937500pt;}
.h1{height:73.875000pt;}
.h3{height:139.875000pt;}
.h5{height:147.750000pt;}
.h2{height:173.020833pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.xb{left:72.064453pt;}
.xf{left:133.630737pt;}
.xe{left:135.582184pt;}
.x2{left:147.600057pt;}
.xd{left:170.908081pt;}
.xc{left:172.859528pt;}
.x20{left:204.932699pt;}
.x1a{left:230.720215pt;}
.x19{left:232.671663pt;}
.x1d{left:240.248332pt;}
.x1{left:241.974080pt;}
.x6{left:245.437907pt;}
.x5{left:247.389356pt;}
.x33{left:267.384074pt;}
.x3a{left:270.131673pt;}
.x39{left:272.083122pt;}
.x23{left:275.212484pt;}
.x1c{left:278.425415pt;}
.x1b{left:280.376864pt;}
.x26{left:282.210327pt;}
.x2d{left:283.600016pt;}
.x11{left:304.416138pt;}
.x10{left:306.367587pt;}
.x36{left:314.616659pt;}
.x35{left:316.568108pt;}
.x25{left:338.982117pt;}
.x24{left:340.933565pt;}
.x3{left:350.616414pt;}
.x3b{left:353.444743pt;}
.x1f{left:357.092875pt;}
.x1e{left:359.044324pt;}
.x30{left:361.155924pt;}
.x4{left:379.470785pt;}
.x34{left:384.040609pt;}
.x8{left:389.508199pt;}
.x7{left:391.459646pt;}
.x38{left:394.655375pt;}
.x37{left:396.606824pt;}
.x18{left:409.407471pt;}
.x3c{left:412.435559pt;}
.x2f{left:451.994914pt;}
.x2e{left:453.946362pt;}
.x32{left:470.733368pt;}
.x31{left:472.684817pt;}
.x17{left:477.501139pt;}
.x16{left:479.452588pt;}
.x22{left:500.682454pt;}
.x21{left:502.633903pt;}
.x28{left:524.308411pt;}
.x27{left:526.259859pt;}
.x13{left:549.853617pt;}
.x12{left:551.805074pt;}
.x15{left:577.884867pt;}
.x14{left:579.836324pt;}
.x2a{left:593.659963pt;}
.x29{left:595.357020pt;}
.x2c{left:617.659963pt;}
.x2b{left:619.611410pt;}
.xa{left:665.578491pt;}
.x9{left:667.529948pt;}
}
